{% extends 'web/base.html' %}
{% load static %}
{% load convert_tags %}

{% block content %}

    <main>
        <section class="pt-3">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-8 order-md-2">
                        <div class="row shop-header align-items-center">
                            <div class="col-lg-6">
                                <div class="grid-icons">
                                    <button class="three-column active"></button>
                                    <button class="four-column d-none d-lg-block"></button>
                                    <button class="five-column d-none d-lg-block"></button>
                                    <button class="list-view"></button>
                                </div>
                            </div>
            
                            <div class="col-lg-6 text-lg-right">
            
                                <div class="single-select-block d-inline-block">
                                    <span class="select-title">Show:</span>
                                    <select class="wide border-0">
                                        <option value="1">10</option>
                                        <option value="2">20</option>
                                        <option value="3">30</option>
                                        <option value="4">40</option>
                                    </select>
                                </div>
            
                                <div class="single-select-block d-inline-block">
                                    <span class="select-title">Sort By:</span>
                                    <select class="wide border-0">
                                        <option value="1">Default</option>
                                        <option value="2">Name (A-Z)</option>
                                        <option value="3">Price (min - max)</option>
                                        <option value="4">Color</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% with product_page_obj as product_page_obj %}
                            {% if products %}
                            
                            {% for pro in product_page_obj %}
                            {% with pro as product %}
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="product">
                                    <a href="{% url 'product_detail' product.slug %}" class="product-img">
                                        <span class="onsale">Sale!</span>
                                        <img src="{{product.images.url}}" class="" alt="">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <div class="review-count">4.5 (2,213)</div>
                                        </div>
                                        <h3>
                                            <a href="product-single.html">{{product.name}} - {{product.brand}}</a>
                                        </h3>
                                        <div class="product-value">
                                            <div class="d-flex">
                                                <small class="regular-price">MRP <del>₹250.99</del></small>
                                                <div class="off-price">53% off</div>
                                            </div>
                                            <div class="current-price">₹237.99</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endwith %}
                            {% endfor %}
                            {% else %}
                            <p>No Results Founds</p>
                            
                            {% endif %}
                            {% endwith %}
                            
                        </div>
                        <div class="pagination justify-content-center">
                            <span class="step-links">
                                {% if product_page_obj.has_previous %}
                                    <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
                                    <a href="{% my_url product_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{product_page_obj.number}} of {{product_page_obj.paginator.num_pages}}
                                </span>

                                {% if product_page_obj.has_next %}
                                    <a href="{% my_url product_page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
                                    <a href="{% my_url product_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&laquo; Last</a>
                                {% endif %}
                                
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 order-md-1">
                        
                        <div class="sidebar-wrapper mt-5 mt-md-0">
                            <div class="sidebar-widget widget_categories">
                                <h6 class="widget-title">Brands</h6>
                                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;"
                                    data-simplebar data-simplebar-auto-hide="false">
                                    {% comment %} <a href="{% my_url "HP" 'brand' request.GET.urlencode %}">&laquo; HP</a>
                                    <a href="{% my_url "DELL" 'brand' request.GET.urlencode %}">&laquo; DELL</a> {% endcomment %}
                                    {% with brands as brnds %}
                                    {% for bran in brnds %}
                                    {% with bran as brand %}
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brand-1">
                                            <label class="form-check-label widget-filter-item-text" for="brand-1">
                                                <a href="{% my_url brand.name 'brand' request.GET.urlencode %}">&laquo; {{brand.name}}</a>
                                            </label>
                                        </div><span class="fs-xs text-muted">425</span>
                                    </li>
                                    {% endwith %}
                                    {% endfor %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>

                        {% comment %} <div class="sidebar-wrapper mt-5 mt-md-0">
                            <div class="sidebar-widget widget_categories">
                                <h6 class="widget-title mb-2">Price
                                </h6>
                               <div class="px-3">
                                <div class="range-slider range-slider-ui" id="nouislider" data-start-min="250" data-start-max="680" data-min="0"
                                data-max="1000" data-step="1">
                            </div>
                               </div>
                            </div>
                        </div>
                        <div class="sidebar-wrapper mt-5 mt-md-0">
                            <div class="sidebar-widget widget_categories">
                                <h6 class="widget-title">PRODUCT TAGS</h6>
                                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;"
                                    data-simplebar data-simplebar-auto-hide="false">
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brand-12">
                                            <label class="form-check-label widget-filter-item-text" for="brand-12">Tag
                                                one</label>
                                        </div><span class="fs-xs text-muted">425</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brand-22">
                                            <label class="form-check-label widget-filter-item-text" for="brand-22">Tag
                                                two</label>
                                        </div><span class="fs-xs text-muted">15</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="Brandina2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="Brandina2">Brandina</label>
                                        </div><span class="fs-xs text-muted">18</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="Belleaeis2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="Belleaeis2">Belleaeis
                                            </label>
                                        </div><span class="fs-xs text-muted">103</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="bilabong2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="bilabong2">Bilabong</label>
                                        </div><span class="fs-xs text-muted">27</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="birkenstock2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="birkenstock2">Birkenstock</label>
                                        </div><span class="fs-xs text-muted">10</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="klein2">
                                            <label class="form-check-label widget-filter-item-text" for="klein2">Calvin
                                                Klein</label>
                                        </div><span class="fs-xs text-muted">365</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="columbia2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="columbia2">Columbia</label>
                                        </div><span class="fs-xs text-muted">508</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="converse2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="converse2">Converse</label>
                                        </div><span class="fs-xs text-muted">176</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dockers2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="dockers2">Dockers</label>
                                        </div><span class="fs-xs text-muted">54</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="fruit2">
                                            <label class="form-check-label widget-filter-item-text" for="fruit2">Fruit of
                                                the Loom</label>
                                        </div><span class="fs-xs text-muted">739</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="hanes2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="hanes2">Hanes</label>
                                        </div><span class="fs-xs text-muted">92</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="choo2">
                                            <label class="form-check-label widget-filter-item-text" for="choo2">Jimmy
                                                Choo</label>
                                        </div><span class="fs-xs text-muted">17</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="levis2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="levis2">Levi's</label>
                                        </div><span class="fs-xs text-muted">361</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="lee2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="lee2">Lee</label>
                                        </div><span class="fs-xs text-muted">264</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="wolverine2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="wolverine2">Wolverine</label>
                                        </div><span class="fs-xs text-muted">29</span>
                                    </li>
                                    <li class="widget-filter-item d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="wrangler2">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="wrangler2">Wrangler</label>
                                        </div><span class="fs-xs text-muted">115</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-wrapper mt-5 mt-md-0">
                            <div class="sidebar-widget widget_categories">
                                <h6 class="widget-title">DISCOUNT</h6>
                                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;"
                                    data-simplebar data-simplebar-auto-hide="false">
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brand-13">
                                            <label class="form-check-label widget-filter-item-text" for="brand-13">
                                                Less than 10%</label>
                                        </div><span class="fs-xs text-muted">425</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brand-23">
                                            <label class="form-check-label widget-filter-item-text" for="brand-23">
                                                10% and above</label>
                                        </div><span class="fs-xs text-muted">15</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="Brandina3">
                                            <label class="form-check-label widget-filter-item-text" for="Brandina3">
                                                20% and above</label>
                                        </div><span class="fs-xs text-muted">18</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="Belleaeis3">
                                            <label class="form-check-label widget-filter-item-text" for="Belleaeis3">30%
                                                and above
                                            </label>
                                        </div><span class="fs-xs text-muted">103</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="bilabong3">
                                            <label class="form-check-label widget-filter-item-text" for="bilabong3">40%
                                                and above</label>
                                        </div><span class="fs-xs text-muted">27</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="birkenstock3">
                                            <label class="form-check-label widget-filter-item-text"
                                                for="birkenstock3">50% and above</label>
                                        </div><span class="fs-xs text-muted">10</span>
                                    </li>
                                    <li
                                        class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="klein3">
                                            <label class="form-check-label widget-filter-item-text" for="klein3">
                                                60% and above</label>
                                        </div><span class="fs-xs text-muted">365</span>
                                    </li>
                                </ul>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
